<h1>Total Members: <%= @members.count %> Members</h1>

<% @members.each do |member| %>
  <ul class='member'>
    <li class='name'>Name: <%= member.name %></li>
    <% if member.photoUrl %>
    <li class='photo'><%= image_tag(member.photoUrl) %></li>
    <% end %>
    <li class='allies'>Allies: <%= member.allies %></li>
    <li class='enemies'>Enemies: <%= member.enemies %></li>
    <li class='affiliation'>Affiliation: <%= member.affiliation %></li>
  </ul>
<% end %>